<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Red Mars Digital</title>
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/lib/simple-grid.css">
	<link rel="stylesheet" type="text/css" href="/lib/animations.css">
	<link rel="stylesheet" type="text/css" href="/css/redmars.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
	<script type="text/javascript" src="/lib/masonry.pkgd.min.js"></script>
</head>
<body>

	<div class="mainPane">

		<div class="bgDiv bg1">
			<div class="container headerContainer">
				<div class="row">
					<div class="col col-12-lg" id="headerCol">
						<span class="headerbar"></span>
						<img src="/img/globeglow.png" class="headerImg">
						<h1>Red Mars Digital</h1>
					</div>
				</div>
			</div>
			<div class="container navContainer">
				<div class="row navbar">
					<div class="col col-9-sm">
						<span class="btn"><a href="/">Home</a></span>
						<span class="btn"><a href="/about">About</a></span>
						<span class="btn"><a href="/projects">Projects</a></span>
						<span class="btn"><a href="/blog">Blog</a></span>
						<span class="btn"><a href="/creative">Creative</a></span>
						<span class="btn"><a href="/mars">Mars</a></span>
						<% if(currentUser) { %>
							<span class="btn"><a href="/todo">Todo</a></span>
						<% } %>
					</div>
					<div class="col col-3-sm navicons">
						<% if(currentUser) { %>
							<i class="fa fa-check-square" aria-hidden="true"></i>
						<% } %>
						<a href="https://github.com/remdd"><i class="fa fa-github" aria-hidden="true"></i></a>
						<a href="https://twitter.com/Robin_Marsden"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
						<a href="https://www.linkedin.com/in/robin-marsden-3877a684/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
				</div>

			<% if(success && success.length > 0) { %>
				<div class="row navbar alertDiv">
					<div class="col col-12-lg">
						<div class="alert alert-success" role="alert"><%= success %></div>
					</div>
				</div>
			<% } %>

			<% if(error && error.length > 0) { %>
				<div class="row navbar alertDiv">
					<div class="col col-12-lg">
						<div class="alert alert-danger" role="alert"><%= error %></div>
					</div>
				</div>
			<% } %>







			</div>
		</div>
