<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Red Mars Digital</title>
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/redmars.css">
	<link rel="stylesheet" type="text/css" href="lib/simple-grid.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body>

	<div class="mainPane">

		<div class="bgDiv bg1">
			<div class="container headerContainer">
				<div class="row">
					<div class="col col-12-lg" id="headerCol">
						<span class="headerbar"></span>
						<img src="img/globeglow.png" class="headerImg">
						<h1>Red Mars Digital</h1>
					</div>
				</div>
			</div>
			<div class="container navContainer">
				<div class="row">
					<div class="col col-10-sm">
						<span class="btn"><a href="/">Home</a></span>
						<span class="btn"><a href="#">About</a></span>
						<span class="btn"><a href="#">Projects</a></span>
						<span class="btn"><a href="/blog">Blog</a></span>
						<span class="btn"><a href="#">Creative</a></span>
						<span class="btn"><a href="#">Mars</a></span>
					</div>
					<div class="col col-2-sm navicons">
						<i class="fa fa-github" aria-hidden="true"></i>
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>
