<% include ./partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h2>Blog</h2>
			</div>
		</div>

		<div class="row">

			<% var count = 0; %>
			<% blogPosts.docs.forEach(function(blogPost) { %>
				<div class="col col-12 blogpost">
					<h3><%= blogPost.title %></h3>
					<%- blogPost.content %>								<!-- note that EJS hyphen tag notation evaluates & renders HTML tags from string -->
					<span class="dateSpan"><%= blogPost.dateDisplay %></span>
				</div>

				<img class="dividerImg" src="/img/divider_<%=count%>.jpg">
				<% count++; %>

			<% }); %>

		</div>
	</div>
</div>


<% include ./partials/footer %>

