<% include ./partials/header %>

		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/about"><h2>About</h2></a>
						<p><strong>Red Mars Digital</strong> is the home of code by Robin Ed Marsden.</p>
						<p>Read more about my career history and full stack web design and development experience to date, including an overview of the main technologies, libraries and packages learned and resources used along the way.</p>
						<p>Please get in touch if you would like to discuss a potential collaboration or commission.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Rover.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/projects"><h2>Projects</h2></a>
						<p>Explore the Red Mars Digital projects delivered so far, and some of those still in progress.</p>
						<p>Work to date includes:
							<ul>
								<li>Edutainment installations for the Lakeland Wildlife Oasis, a zoo and visitor centre in Cumbria, UK</li>
								<li>Wikifindings, a dynamic repository of lay summaries of academic research articles</li>
								<li>Chasing Shadows, a nature / music / fashion photography portfolio website</li>
							</ul>
						</p>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mariner4.png">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/blog"><h2>Blog</h2></a>
						<p>A record of  my journey into programming and web design, having decided to swap corporate employment in HR, payroll and finance for a life of code in 2017.</p>
						<p>Blogposts will review some of the courses and resources that have helped me on the journey, as well as some of the more interesting diversions that have cropped up along the way!</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Phobos.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/creative"><h2>Creative</h2></a>
						<p>A small selection of some of my other amateur creative efforts that are neither code nor Mars-related.</p>
						<p>I have always been interested in the creative possibilities that new technology offers and enjoy experimenting with digital audio and graphics, as well as more traditional art techniques.</p>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mars3.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDivLast">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/mars"><h2>Mars</h2></a>
						<p>Explore the planet Mars and learn more about some of its incredible geography, as well as a selection of the missions that have visited so far.</p>
						<hr>
						<p><strong>Why Mars?</strong></p>
						<p>What's the connection - where does this site's name come from?</p>
						<p>Like many other people, the planet Mars has always held a special fascination for me. Not only does it remain one of the most promising locations to search for evidence of a second, independent genesis of life, with all the implications for our place in the Universe that such a discovery would bring, but the prospect of sending human visitors - or indeed settlers - seems to be a leading candidate for a species-level milestone achievement that could plausibly be accomplished in my lifetime.</p>
						<p>To me, Mars essentially represents a hopeful, aspirational vision of one possible future - but one that absolutely can't be taken for granted and will require unprecedented effort and focus to reach.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/MRO.png">
						</div>
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer %>
