<% include ./partials/header %>

		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/about"><h2>About</h2></a>
						<p><strong>Red Mars Digital</strong> is the home of code by Robin Ed Marsden.</p>
						<p>Read more about my career history and experience in full stack web design and development to date, including an overview of the key technologies, libraries and packages learned and resources used along the way.</p>
						<p>Please get in touch if your business has a commission or position I may be able to fill.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Rover.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/projects"><h2>Projects</h2></a>
						<p>Explore the Red Mars Digital projects delivered so far, and some of those still ongoing.</p>
						<p>Work to date includes:
							<ul>
								<li>Edutainment installations for the Lakeland Wildlife Oasis, a zoo and visitor centre in Cumbria, UK</li>
								<li>Wikifindings, a dynamic repository of lay summaries of academic research articles</li>
								<li>Chasing Shadows, a nature / music / fashion photography portfolio website</li>
							</ul>
						</p>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mariner4.png">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/blog"><h2>Blog</h2></a>
						<p>A record of Robin's journey into programming and web design, having decided to swap corporate employment in HR, payroll and Finance for a life of code in early 2017.</p>
						<p>Blogposts will review some of the courses and resources that have helped him on the journey, as well as some of the more interesting diversions that crop up along the way!</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Phobos.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/creative"><h2>Creative</h2></a>
						<p>At ego quem huic anteponam non audeo dicere; Erat enim res aperta. Ait enim se, si uratur, Quam hoc suave! dicturum. Age nunc isti doceant, vel tu potius quis enim ista melius? Si qua in iis corrigere voluit, deteriora fecit. Ut proverbia non nulla veriora sint quam vestra dogmata.</p>
						<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Si verbum sequimur, primum longius verbum praepositum quam bonum. Esse enim quam vellet iniquus iustus poterat inpune. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Quid, si etiam iucunda memoria est praeteritorum malorum? Sed ad bona praeterita redeamus. Quam nemo umquam voluptatem appellavit, appellat; Egone quaeris, inquit, quid sentiam? Ego vero isti, inquam, permitto.</p>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mars3.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDivLast">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/mars"><h2>Mars</h2></a>
						<p>Why Mars?</p>
						<p>Inde igitur, inquit, ordiendum est. Minime vero istorum quidem, inquit. Quare attende, quaeso. Huius ego nunc auctoritatem sequens idem faciam. Sed ne, dum huic obsequor, vobis molestus sim. Quae cum essent dicta, finem fecimus et ambulandi et disputandi.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/MRO.png">
						</div>
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer %>
