<% include ./partials/header %>

		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/about">
							<h2>About</h2>
							<p><strong>Red Mars Digital</strong> is the home of code by Robin Ed Marsden.</p>
							<p>Read more about my career history and full stack web design and development experience to date, including an overview of the technologies, libraries and packages learned and resources used along the way.</p>
							<p>Please get in touch if you have a potential collaboration or commission that you would like to discuss!</p>
						</a>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Rover.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/projects">
							<h2>Projects</h2>
							<p>Explore the Red Mars Digital projects delivered so far, and some of those still in progress.</p>
							<p>Work to date includes:
								<ul>
									<li>Edutainment installations for the Lakeland Wildlife Oasis, a zoo and visitor centre in Cumbria, UK</li>
									<li>Wikifindings, a dynamic repository of lay summaries of academic research articles</li>
									<li>Chasing Shadows, a nature / music / fashion photography portfolio website</li>
								</ul>
							</p>
						</a>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mariner4.png">
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/blog">
							<h2>Blog</h2>
							<p>A record of  my journey into programming and web design, having decided to swap corporate employment in HR, payroll and finance for a life of code in 2017.</p>
							<p>Blogposts will review some of the courses and resources that have helped me on the journey, as well as some of the more interesting diversions that have cropped up along the way!</p>
						</a>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/Phobos.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col-12">
						<a class="headerLink" href="/creative">
							<h2>Creative</h2>
							<p>A small selection of some of my personal creative efforts that are not necessarily code or Mars-related.</p>
							<p>I have always been interested in the creative possibilities that new technology offers and enjoy experimenting with digital audio and graphics, as well as more traditional art techniques.</p>
						</a>
						<div class="colFooter colFooterL">
							<img class="marsIcon" src="img/Mars3.png">
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDivLast">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<a class="headerLink" href="/mars">
							<h2>Mars</h2>
							<p>Explore the planet Mars and learn more about some of its incredible geography, as well as a selection of the missions that have visited so far.</p>
						</a>
						<hr>
						<p><strong>Why Mars? What's that all about?</strong></p>
						<p>I have always been fascinated by the red planet.</p>
						<p>Not only does it remain one of the most promising places to search for evidence of an independent origin of life, with all the huge implications for our place in the Universe that such a discovery would mean, but the prospect of sending human visitors - and perhaps even settlers - seems to be a leading candidate for humanity's next great milestone technological achievement that could plausibly be accomplished in my lifetime.</p>
						<p>To me, Mars represents one of our best possible futures - one which is hopeful and aspirational, but will take focus and unprecedented hard work to reach.</p>
						<div class="colFooter colFooterR">
							<img class="marsIcon" src="img/MRO.png">
						</div>
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer %>
