<% include ./partials/header %>

		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col col-12">
						<h2>About</h2>
						<p><strong>Red Mars Digital</strong> is the home of web design and development by Robin Ed Marsden.</p>
						<p>Inde igitur, inquit, ordiendum est. Minime vero istorum quidem, inquit. Quare attende, quaeso. Huius ego nunc auctoritatem sequens idem faciam. Sed ne, dum huic obsequor, vobis molestus sim. Quae cum essent dicta, finem fecimus et ambulandi et disputandi.</p>
						<div class="colFooter colFooterR">
							<div class="tooltipDiv tooltipDivR">
								<div class="tooltipBox">
									<p class="tooltipText">One of NASA's two Mars Exploration Rovers, Spirit and Opportunity, which landed in 2004.</p>
									<p class="tooltipText">Originally hoped to operate for 90 Martian days, Opportunity is still going strong today.</p>
								</div>
								<img class="marsIcon" src="img/Rover.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col col-12">
						<h2>Projects</h2>
						<p>Explore the Red Mars Digital projects delivered so far, and some of those still ongoing.</p>
						<p>Work to date includes:
							<ul>
								<li>Edutainment installations for the Lakeland Wildlife Oasis, a zoo and visitor centre in Cumbria, UK</li>
								<li>Wikifindings, a dynamic repository of lay summaries of academic research articles</li>
								<li>Chasing Shadows, a nature / music / fashion photography portfolio website</li>
							</ul>
						</p>
						<div class="colFooter colFooterL">
							<div class="tooltipDiv tooltipDivL">
								<img class="marsIcon" src="img/Mariner4.png">
								<div class="tooltipBox">
									<p class="tooltipText">NASA's Mariner 4 spacecraft conducted the first successful Mars flyby in 1964.</p>
									<p class="tooltipText">The pictures it returned transformed public and scientific perceptions of the planet.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container">
				<div class="row">
					<div class="col col-12">
						<h2>Blog</h2>
						<p>A record of Robin's journey into programming and web design, following a decision to swap corporate employment for a life of code in early 2017.</p>
						<p>Content includes review of the courses and key learning resources that have helped along the way, as well as some of the more interesting diversions that have come up along the way!</p>
						<div class="colFooter colFooterR">
							<div class="tooltipDiv tooltipDivR">
								<div class="tooltipBox">
									<p class="tooltipText">Phobos, the larger of Mars' two tiny moons, has such a low orbit that to an observer standing on its surface Mars would appear 6,400 times larger in the sky than the Moon appears from Earth.</p>
								</div>
							<img class="marsIcon" src="img/Phobos.png">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col col-12">
						<h2>Creative</h2>
						<p>At ego quem huic anteponam non audeo dicere; Erat enim res aperta. Ait enim se, si uratur, Quam hoc suave! dicturum. Age nunc isti doceant, vel tu potius quis enim ista melius? Si qua in iis corrigere voluit, deteriora fecit. Ut proverbia non nulla veriora sint quam vestra dogmata.</p>
						<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Si verbum sequimur, primum longius verbum praepositum quam bonum. Esse enim quam vellet iniquus iustus poterat inpune. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Quid, si etiam iucunda memoria est praeteritorum malorum? Sed ad bona praeterita redeamus. Quam nemo umquam voluptatem appellavit, appellat; Egone quaeris, inquit, quid sentiam? Ego vero isti, inquam, permitto.</p>
						<div class="colFooter colFooterL">
							<div class="tooltipDiv tooltipDivL">
								<img class="marsIcon" src="img/Mars3.png">
								<div class="tooltipBox">
									<p class="tooltipText">The Soviet Union's lander 'Mars 3' achieved the first ever soft landing on Mars.</p>
									<p class="tooltipText">Unfortunately all communication with Earth was lost less than 15 seconds after landing, for reasons still unclear.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDivLast">
			<div class="container">
				<div class="row">
					<div class="col col-12">
						<h2>Mars</h2>
						<p>Why Mars?</p>
						<p>Inde igitur, inquit, ordiendum est. Minime vero istorum quidem, inquit. Quare attende, quaeso. Huius ego nunc auctoritatem sequens idem faciam. Sed ne, dum huic obsequor, vobis molestus sim. Quae cum essent dicta, finem fecimus et ambulandi et disputandi.</p>
						<div class="colFooter">
							<img class="marsIcon" src="img/MRO.png">
						</div>
					</div>
				</div>
			</div>
		</div>

<% include ./partials/footer %>
