<!DOCTYPE html>
<html lang="EN">
<head>
	<title>Red Mars Digital</title>
	<link href="https://fonts.googleapis.com/css?family=Jura" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="css/redmars.css">
	<link rel="stylesheet" type="text/css" href="lib/simple-grid.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')</script>
</head>
<body>

	<div class="mainPane">

		<div class="bgDiv bg1">
			<div class="container headerContainer">
				<div class="row">
					<div class="col col-12-lg" id="headerCol">
						<span class="headerbar"></span>
						<img src="img/globeglow.png" class="headerImg">
						<h1>Red Mars Digital</h1>
					</div>
				</div>
			</div>
			<div class="container navContainer">
				<div class="row">
					<div class="col col-10-sm">
						<span class="btn">About</span>
						<span class="btn">Projects</span>
						<span class="btn">Blog</span>
						<span class="btn">Creative</span>
						<span class="btn">Mars</span>
					</div>
					<div class="col col-2-sm navicons">
						<i class="fa fa-github" aria-hidden="true"></i>
						<i class="fa fa-envelope" aria-hidden="true"></i>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv solidBgDiv">
			<div class="container mainContainer">
				<div class="row">
					<div class="col col-12">
						<h2>Welcome to Mars.</h2>
						<p><strong>Red Mars Digital</strong> is the home of web design and development by Robin Ed Marsden.</p>
						<p>Inde igitur, inquit, ordiendum est. Minime vero istorum quidem, inquit. Quare attende, quaeso. Huius ego nunc auctoritatem sequens idem faciam. Sed ne, dum huic obsequor, vobis molestus sim. Quae cum essent dicta, finem fecimus et ambulandi et disputandi.</p>
						<img class="marsIcon" src="img/Rover.png">
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg2">
			<div class="container mainContainer imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col col-12">
						<h2>Projects:</h2>
						<p>At ego quem huic anteponam non audeo dicere; Erat enim res aperta. Ait enim se, si uratur, Quam hoc suave! dicturum. Age nunc isti doceant, vel tu potius quis enim ista melius? Si qua in iis corrigere voluit, deteriora fecit. Ut proverbia non nulla veriora sint quam vestra dogmata.</p>
						<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Si verbum sequimur, primum longius verbum praepositum quam bonum. Esse enim quam vellet iniquus iustus poterat inpune. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Quid, si etiam iucunda memoria est praeteritorum malorum? Sed ad bona praeterita redeamus. Quam nemo umquam voluptatem appellavit, appellat; Egone quaeris, inquit, quid sentiam? Ego vero isti, inquam, permitto.</p>
						<img class="marsIcon" src="img/Phobos.png">
					</div>
				</div>
			</div>
		</div>


		<div class="bgDiv solidBgDiv">
			<div class="container mainContainer">
				<div class="row">
					<div class="col col-12">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Si enim ita est, vide ne facinus facias, cum mori suadeas. Sed virtutem ipsam inchoavit, nihil amplius. Philosophi autem in suis lectulis plerumque moriuntur. Summus dolor plures dies manere non potest? Duo Reges: constructio interrete. Semper enim ex eo, quod maximas partes continet latissimeque funditur, tota res appellatur. Isto modo ne improbos quidem, si essent boni viri. At eum nihili facit; Quae sunt igitur communia vobis cum antiquis, iis sic utamur quasi concessis;</p>
						<p>Inde igitur, inquit, ordiendum est. Minime vero istorum quidem, inquit. Quare attende, quaeso. Huius ego nunc auctoritatem sequens idem faciam. Sed ne, dum huic obsequor, vobis molestus sim. Quae cum essent dicta, finem fecimus et ambulandi et disputandi.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="bgDiv bg3">
			<div class="container mainContainer imgBgDivContainer">
				<div class="row imgBgRow">
					<div class="col col-12">
						<p>At ego quem huic anteponam non audeo dicere; Erat enim res aperta. Ait enim se, si uratur, Quam hoc suave! dicturum. Age nunc isti doceant, vel tu potius quis enim ista melius? Si qua in iis corrigere voluit, deteriora fecit. Ut proverbia non nulla veriora sint quam vestra dogmata.</p>
						<p>Equidem etiam Epicurum, in physicis quidem, Democriteum puto. Facit igitur Lucius noster prudenter, qui audire de summo bono potissimum velit; Si verbum sequimur, primum longius verbum praepositum quam bonum. Esse enim quam vellet iniquus iustus poterat inpune. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. Quid, si etiam iucunda memoria est praeteritorum malorum? Sed ad bona praeterita redeamus. Quam nemo umquam voluptatem appellavit, appellat; Egone quaeris, inquit, quid sentiam? Ego vero isti, inquam, permitto.</p>
					</div>
				</div>
			</div>
		</div>


	</div>
	

</body>
</html>