<% include ./partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12">
				<h2>To-do list</h2>
				<ul>
					<li>Do this!</li>
					<li>And this!</li>
				</ul>
			</div>
		</div>
	</div>
</div>


<% include ./partials/footer %>

