.mainPane {
	max-width: 100%;
	position: relative;
	overflow-x: hidden;
}

h1 {
	text-transform: uppercase;
	font-family: 'Jura', sans-serif;
	color: #222;
/*	color: white;*/
	font-weight: 400;
	display: inline-block;
	margin-left: 30px;
	text-shadow: 1px 2px 1px rgba(255,230,230,0.8), -1px -1px 1px rgba(255,200,200,0.2), 1px 2px 4px rgba(220,200,200,0.6);
	z-index: 5;
	position: relative;
}
h2, h3, h4 {
	font-family: 'Jura', sans-serif;
	color: #75552e;
}
.dateSpan {
	position: absolute;
	top: 10px;
	right: 20px;
	font-family: 'Jura', sans-serif;
	color: #75552e;
	font-size: 1em;
}
.navContainer {
	background: white;
	margin-top: 20px;
	margin-bottom: 80px;
	position: relative;
}
.headerbar {
	display: inline-block;
	width: 100%;
	height: 6px;
	background: white;
	z-index: 0;
	position: absolute;
	box-shadow: 0px 2px 4px rgba(220,200,200,0.6);
}
#headerCol {
	margin: 20px 0 0 0;
	padding: 0;
}
.btn {
	margin-right: 40px;
} .btn a {
	text-decoration: none;
} .headerLink {
	text-decoration: none;
} .thumbLink {
	text-decoration: none;
}
.navicons {
	text-align: right;
} .navicons i {
	margin-left: 10px;
}
.mainContainer {
/*	background: rgba(255,255,255,0.2);*/
	padding: 0;
}
.imgBgRow {
	background: white;
}
.headerImg {
	display: inline-block;
	z-index: 1;
	width: 100px;
	top: 35px;
	left: 12px;
	position: relative;
}
.bg1 {
	background: url('../img/bgDiv3.jpg');
} .bg2 {
	background: url('../img/bgDiv2.jpg');	
} .bg3 {
	background: url('../img/bgDiv1.jpg');	
}
.bgDiv {
	width: 100vw;
	max-width: 100%;	/* Prevents horizontal scrollbar appearing with vertical scrollbar */
/*	height: 100vh;*/
	background-size: cover;
	padding-bottom: 20px;
	position: relative;
}
.solidBgDiv {
	background: white;
	z-index: 1;
} .solidBgDiv:before {
	position: absolute;
	content: '';
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200vw;
    height: 75%;
    background: inherit;
} .solidBgDiv:after {
	position: absolute;
	content: '';
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 200vw;
    height: 75%;
    background: inherit;
}
.solidBgDivLast {
	background: white;
	z-index: 1;
} .solidBgDivLast:before {
	position: absolute;
	content: '';
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    top: 0;
    left: 0;
    z-index: -1;
    width: 200vw;
    height: 75%;
    background: inherit;
}
.imgBgDivContainer {
	padding: 100px 0 80px 0;
}
.colFooter {
	position: relative;
	box-sizing: border-box;
	width: 100%;
}
.colFooterR {
	text-align: right;
	margin-bottom: -40px;
} .colFooterL {
	text-align: left;
	margin-bottom: 20px;
}
.marsIcon {
	display: inline-block;
} .leftIcon {
	text-align: center;
}
.tooltipDiv {
	display: flex;
	align-items: center;
} .tooltipDivL {
	justify-content: flex-start;
} .tooltipDivR {
	justify-content: flex-end;
} .tooltipDiv:hover .tooltipBox {
	visibility: visible;
	opacity: 1;
} .tooltipBox {
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
} .tooltipText {
	margin: 0;
	padding: 0 30px;
	font-size: 0.8em;
	line-height: 1.3;
	color: #75552e;
}
.footerCol {
	box-sizing: border-box;
	width: 100%;
	text-align: right;
} .footerCol p {
	font-size: 0.8em;
}

.blogpost {
	position: relative;
	margin-top: 30px;
} .blogpost h3 {
	margin-top: 0;
} .blogpost h4 {
	margin-left: 10px;
	margin-top: 50px;
} .blogpost h4:before {
	position: relative;
	left: -10px;
	top: 4px;
	content: url('../img/favicon20.png');
	width: 10px;
	height: 10px;
	z-index: 1;
}
.dividerImg {
	margin: 50px 0;
}
.projectThumb {
	border: 3px solid #CCC;
	border-radius: 10px;
	padding:20px;
	min-height: 300px;
	display: inline-block;
	margin-bottom: 30px;
} .projectThumb h3 {
	margin: 0 0 10px 0;
} .projectThumb span {
	margin: 0 0 10px 0;
} .projectThumb img {
	margin-top: 20px;
	max-width: 100%;
}
.projectDiv {
	width: 100%;
/*	border: 1px solid #c69958;*/
	margin-bottom: 50px;
} .projectDiv h5 {
	text-align: right;
	margin: 0;
	margin-bottom: 5px;
} .projectDiv h5:last-of-type {
	margin-bottom: 50px;
}.projectDiv video {
	display: block;
	margin: auto;
} .projectDiv button {
	display: block;
	border: none;
	font-size: 0.8em;
	background: none;
	color: #666;
	margin: 10px auto;
} .projectLink {
	font-family: 'Nunito', Helvetica, sans-serif;
	font-weight: normal;
} .projectLink a {
	color: #999;
}
.projectImg {
	max-width: 100%;
	border: 1px solid #D6D6D6;
}

.padDiv {
	clear: both;
}

/* About page */
.aboutContainer {
	overflow-y: hidden;
	overflow-x: hidden;
}
.aboutDiv {
	border: 1px solid #bd8f52;
	border-radius: 10px;
	padding: 30px;
	box-shadow: 4px 6px 6px rgba(140,100,100,0.3);
	margin-bottom: 30px;
} .aboutDiv p {
	margin-top: 0;
} .aboutDiv p:last-of-type {
	margin-bottom: 0;
}
.aboutImgDiv {
	text-align: center;
} .aboutImg {
	margin-top: 15px;
	display: inline-block;
}
.inlineImg {
	display: inline-block;
	float: right;
	margin-left: 50px;
	margin-bottom: 20px;
	max-width: 30vw;
} .noBottomMarginImg {
	margin-bottom: 0;
}
.datestamp {
	font-family: 'Jura', sans-serif;
	font-size: 1.25rem;
	color: white;
	position: absolute;
	top: -15px;
	padding: 6px 12px;
	background: #bd8f52;
	border: 1px solid #bd8f52;
	z-index: 1;
} .datestampL {
	left: 19px;
	border-radius: 10px 0 0 0;
} .datestampR {
	right: 19px;
	border-radius: 0 10px 0 0;
}

.spanTech {
	padding: 0 5px;
	border-radius: 5px;
	font-weight: bold;
}
.spanHTML {
	background: pink;
} .spanCSS {
	background: lightblue;
} .spanJavascript {
	background: lightgrey;
} .spanNode {
	background: lightgreen;
} .spanFramework {
	background: #ffcc99;
} .spanDB {
	background: #dfff80;
}



.centredDiv {
	text-align: center;
}
.newBlogPostFormTitle {
	width: 100%;
} .newBlogPostFormTextArea {
	width: 100%;
	min-height: 30vh;
}

.blogThumb {
	position: relative;
	width: 100%;
	border: 1px solid #CCC;
	border-radius: 10px;
	margin-bottom: 30px;
} .blogThumb:after {
	content: '';
	left: 0;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 60px;
	z-index: 1;
	border-radius: 10px;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
} .truncatedBlogContent {
/*	white-space: nowrap;*/
	width: 100%;
	max-height: 150px;
	overflow: hidden;
	text-overflow: ellipsis;
} .blogThumb h3 {
	margin-top: 0;
} .blogImg {
	max-width: 100%;
	display: inline-block;
	text-align: center;
}