<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Butterfly Painter</h3>
				<h5 class="projectLink">Due for installation at the <a href="http://www.wildlifeoasis.co.uk">Lakeland Wildlife Oasis</a> later in 2017</h5>
				<p>An interactive, animated 3D installation for a zoo visitor centre in Cumbria.</p>
				<p>Visitors to the zoo encounter this installation in a softly lit room just before they enter the zoo's tropical butterfly hall. A rainforest scene is projected onto a wall, in which a number of animated butterflies fly about.</p>

				<video autoplay loop height="452" width="600" id="csvid">
					<source src="/vid/butterflies.mp4" type="video/mp4">
					<source src="/vid/butterflies.ogg" type="video/ogg">
					<p>Sorry, Your browser does not support the video tag.</p>
				</video>
				<button id="csbtn" onclick="csclick();"><i class="fa fa-pause" aria-hidden="true"></i></button>

				<p>Nearby, they find a wall-mounted touchscreen, displaying the screen below, with which a visitor can 'finger paint' onto a cutout representation of a butterfly's wing using basic paint controls and colour-picking palettes.<p>
				<img class="projectImg" src="/img/butterflypainter.jpg">
				<p>When they have finished colouring in their wing, they hit the 'finish' button to see an animated 3D version of their butterfly fly into the scene being projected onto the wall, joining the others.</p>
				<p>The program maintains a specified number of butterflies - about 10 seems to work best - with each new addition replacing the 'oldest' butterfly in the scene (which will fly out of shot before being erased).</p>
				<hr>
				<p>Behind the scenes, the program flow works like this:</p>
				<ol>
					<li>The touch-screen paint 'app' is built in <span class="spanTech spanHTML">HTML</span> and <span class="spanTech spanLibrary">jQuery</span>. A <span class="spanTech spanHTML">Canvas</span> element is defined by a series of quadratic curves outlining the wing template onto which the user can paint. The app is 'locked down' as a simple kiosk installation - i.e. browser navigation and all other controls not required for public interaction are disabled.</li>
					<li>The projected 'scene' in which the butterflies are flying is a simple <a href="https://unity3d.com/"><span class="spanTech spanLanguage">Unity3D</span></a> application, with a static rainforest image displayed at the far end of an invisible 3D 'boundary box' within which the butterflies are constrained.</li>
					<li>The butterfly model was adapted from a <a href="https://www.turbosquid.com/3d-models/blue-butterfly-3ds-free/607415">freely available model</a> using <a href="https://www.blender.org/"><span class="spanTech spanLanguage">Blender</span></a>, and animated within Unity.</li>
					<li>The butterflies are controlled by a very simple AI, which (within set parameters) randomly reassigns each of them a flight path vector, movement speed and wing-flapping animation (from a small number of slightly different animation modes) at short random intervals.</li>
					<li>Once a new wing has been painted and is saved by a user, a representation of it is saved to a .png file to the browser's default download directory.</li>
					<li>This directory is monitored by a <span class="spanTech spanLanguage">C#</span> script running in Unity. When a new file with the relevant filename is detected, a batch file is triggered which uses <a href="https://www.imagemagick.org/script/index.php"><span>Image Magick</span></a> command line tools to rotate and resize the image for mapping to the butterfly model in Unity, and copies the formatted output file to a Unity working directory.</li>
					<li>This working directory is also monitored by a Unity C# script which, on detection of a new formatted wing texture file, removes the 'eldest' butterfly in the scene and instantiates (out of camera shot) a new one mapped with the new wing texture.</li>
				</ol>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

