<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>Edutainment Console</h3>
				<h5 class="projectLink">Due for installation at the <a href="http://www.wildlifeoasis.co.uk">Lakeland Wildlife Oasis</a> later in 2017</h5>
				<p>An interactive touchscreen education & entertainment console for a zoo visitor centre in Cumbria.</p>
				<p>This second installation at the Wildlife Oasis (along with the <a href="./butterflypainter.ejs">Butterfly Painter</a>) is effectively an offline website for the use of visitors to the centre, built in <span class="spanTech spanHTML">HTML</span> and <span class="spanTech spanLanguage">Javascript</span>, comprising several distinct interactive sections:</p>
				<ul>
					<li>
						<h4>Evolution explained</h4>
						<p>A series of short presentations explaining various aspects of the mechanism and history of the theory of evolution for a general audience, including an interactive 'hunt the peppered moths' game.</p>
					</li>
					<li>
						<h4>The story of the Wildlife Oasis</h4>
						<p>An interactive journey through the history of the centre from its inception in the late 1980s to the present day, collecting photo galleries, memorabilia, press cuttings etc from the various major milestones.</p>
					</li>
					<li>
						<h4>'Who am I?' game</h4>
						<p>An against-the-clock test-your-knowledge game, in which the user must select the correct animal from a number of options, with the help of a series of clues.</p>
						<p>Points are awarded for each round based on the speed with which the correct answer is identified, plus the number of incorrect guesses.</p>
					</li>
					<li>
						<h4>'Animal search' game</h4>
						<p>A series of wordsearch puzzles each containing the names of several species of animal found at the centre.</p>
						<p>To make the game more challenging, the names of the hidden animals are not automatically provided, just their silhouettes - so part of the game is identifying the animals to be found (although these names can be revealed by pressing a 'help' button if a user gets stuck).</p>
					</li>
					<li>
						<h4>'Spot the difference' game</h4>
						<p>A classic 'spot the difference' game, in which the user is presented with both the original and an edited version of photographs taken at the centre. The user must find all the differences between the photos as quickly as possible.</p>
					</li>
				</ul>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

