<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>WikiFindings</h3>
				<h5 class="projectLink">First stage launch to initial user groups planned for late 2017</h5>
				<p>A dynamic repository of lay summaries of research articles.</p>
				<p>WikiFindings aims to assist in the communication of newly published scientific research to a lay audience, researchers in other fields and the general public.</p>
				<p>All of the research 'Findings' saved to the site are made freely available to site users, are written in plain language and are concise (enforced by a fixed content layout and low word count), to avoid the barriers to wider dissemination of new academic findings that tend to exist with research literature and comparable academic research sites.</p>
				<p>The WikiFindings project was conceived by <a href="https://sites.google.com/site/adhigginson/">Dr Andrew Higginson</a>, a Research Fellow in Theoretical Ecology currently based at the University of Bristol, who is actively developing it in partnership with Red Mars Digital.</p>
				<hr>
				<p>The site is built in <span class="spanTech spanLanguage">Node.js</span>, <span class="spanTech spanFramework">Express</span> and <span class="spanTech spanDB">mongoDB</span>.</p>
				<p>From a technical standpoint, WikiFindings is a significant step up in complexity from other projects undertaken to date - requiring multiple user types, detailed database models, asynchronous server events and secure user data handling with dependencies such as <span class="spanTech spanLibrary">Passport</span> and <span class="spanTech spanLibrary">Nodemailer</span>.</p>
				<p>At the time of writing (Sep 2017) WikiFindings is alpha-ready and will shortly be rolled out to a limited trial group for production testing and loading of initial content.</p>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

