<% include ../partials/header %>

<div class="bgDiv solidBgDivLast">
	<div class="container">
		<div class="row">
			<div class="col col-12 projectDiv">
				<h3>The Lakeland Wildlife Oasis website</h3>
				<p>A full-stack website, API and server hosting for a small zoo in Cumbria.</p>
				<h5 class="projectLink"><a href="https://www.wildlifeoasis.co.uk" rel="noopener noreferrer" target="_blank">www.wildlifeoasis.co.uk</a></h5>

				<div class="centreDiv">
					<hr>
					<figure class="devicon-figure">
						<i class="devicon-vuejs-plain"></i>
						<figcaption>Nuxt.js</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-nodejs-plain"></i>
						<figcaption>Node.js</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-express-original"></i>
						<figcaption>Express</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-mongodb-plain"></i>
						<figcaption>MongoDB</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-ubuntu-plain"></i>
						<figcaption>Ubuntu</figcaption>
					</figure>
					<figure class="devicon-figure">
						<i class="devicon-nginx-plain"></i>
						<figcaption>nginx</figcaption>
					</figure>
					<hr>
				</div>

				<p>After producing some on-site interactive kiosks for the Lakeland Wildlife Oasis, in late 2019 I took on the bigger challenge of building a new website to replace the existing, somewhat aged and malfunctioning, Wordpress site.</p>
				<p>Not limited just to producing a new front-end website, the brief also included:</p>
				<ul>
					<li>Ability for users to purchase animal adoption packs</li>
					<li>Ability for users to advance-book 'animal experiences', with limited daily availability</li>
					<li>A secure 'admin panel' allowing centre staff to view and update customer bookings</li>
					<li>Basic CMS functionality allowing centre staff to add news stories and special events</li>
					<li>Paypal integration</li>
					<li>Automated email integration</li>
					<li>Design, UX, UI and other creative decisions, in keeping with the zoo's existing in-house design principles</li>
					<li>Server and database provision</li>
					<li>All ongoing administration, maintenance and technical support</li>
				</ul>

				<p>...so all told, a pretty big assignment!</p>
				<p>After first pulling together an early prototype using jQuery and older web technologies, the final front-end was built in the absolutely fantastic <a href="https://vuejs.org/" rel="noopener noreferrer" target="_blank">Vue.js</a> framework <a href="https://nuxtjs.org/" rel="noopener noreferrer" target="_blank">NuxtJS</a> - which I have to say has won me over entirely. A truly superb tool that I would recommend very highly indeed and will need a very good reason not to use for future projects!</p>
				<p>The site was successfully launched in late March 2020.</p>

				<img class="projectImg" src="/img/oasis.jpg">

				<hr>

				<div class="col col-12 centredDiv">
					<img src="/img/<%= footerIcon %>">		
				</div>

				<p>Previous project: <a href="/projects/baronbackslash">The Deadly Dungeons of Baron Backslash</a></p>

			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="/js/projects.js"></script>


<% include ../partials/footer %>

